<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.computer_networking_1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".ArchLifecycleApp"
        android:allowBackup="true"
        android:icon="@drawable/iconss"
        android:label="BrotherHood"
        android:roundIcon="@drawable/iconss"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.computer_networking_1.GroupChatFullActivity"></activity>
        <activity android:name="com.example.computer_networking_1.LoginActivity" />
        <activity android:name="com.example.computer_networking_1.ProfileActivity" />
        <activity android:name="com.example.computer_networking_1.FindFriendActivity" />
        <activity android:name="com.example.computer_networking_1.SettingsActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name="com.example.computer_networking_1.StartingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.computer_networking_1.DialogViewActivity" />
        <activity android:name="com.example.computer_networking_1.GroupChatActivity" />
        <activity android:name="com.example.computer_networking_1.ConnectToUserActivity" />
        <activity android:name="com.example.computer_networking_1.ChatActivity" />
        <activity android:name="com.example.computer_networking_1.ShowInfoActivity" />
        <activity android:name="com.example.computer_networking_1.MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>
